<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Usuarios</title>

<link href="../../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">


	<link rel="stylesheet" href="../../static/header.css">
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div th:replace="barranav :: header"></div>
	<div class="jumbotron">
		<h4>Pistas</h4>
	</div>

	<div class="container">
		<br>
		<h2 th:if="${list.isEmpty()}">No hay pistas</h2>
		<div th:if="${!list.isEmpty()}">
			<h2>Pistas</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Número</th>
						<th>Descripción</th>
						<th></th>
						<th>
							<div>
								<a th:href="@{/pistas/save/0}" class="btn btn-primary">Agregar
									pista</a>
							</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pista : ${list}">
						<td th:text="${pista.numero}">
						<td th:text="${pista.descripcion}">
						<td><a th:href="@{/pistas/save/{id}(id=${pista.id})}">Editar</a></td>
						<td><a th:href="@{/pistas/delete/{id}(id=${pista.id})}">Eliminar</a></td>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>