<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>padelGest</title>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href="../../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="../../static/header.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="barranav :: header"></div>
	<div class="myheader">
		<h4>Campeonatos</h4>
	</div>
	<div class="container">
		<div th:if="${sesion.administrador}">
			<a th:href="@{/campeonatos/save/0}" class="btn btn-info">Registrar
				campeonato</a>
		</div>
		<br>
		<h2 th:if="${list.isEmpty()}">No hay campeonatos en este momento</h2>
		<div th:if="${!list.isEmpty()}">
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Categoria</th>
						<th>Nivel</th>
						<th>Inscripciones permitidas</th>
						<th>Precio de inscripción</th>
						<th>Inscripción hasta</th>
						<th></th>
						<th></th>
						<th></th>
						<th th:if="${sesion.administrador}"></th>
						<th th:if="${sesion.administrador}"></th>
						<th th:unless="${sesion.administrador}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="campeonato : ${list}">
						<td th:text="${campeonato.id}"></td>
						<td th:text="${campeonato.categoria}"></td>
						<td th:text="${campeonato.nivel}"></td>
						<td th:text="${campeonato.maxNumParticipantes}"></td>
						<td th:text="${campeonato.precioInscripcion}"></td>
						<td th:text="${campeonato.limiteInscripcion}"></td>
						<td th:text="${campeonato.abierto} ? 'Sí' : 'No' "></td>
						<td><a
							th:href="@{/campeonatos/consultar/{id}(id=${campeonato.id})}">Consultar</a></td>
						<td>
						<td th:if="${sesion.administrador}"><a
							th:href="@{/campeonatos/save/{id}(id=${campeonato.id})}">Editar</a></td>
						<td th:if="${sesion.administrador}"><a
							th:href="@{/campeonatos/delete/{id}(id=${campeonato.id})}">Eliminar</a></td>
						<td th:if="${!sesion.administrador} AND  ${campeonato.abierto}"><a
							class="btn btn-info"
							th:href="@{/campeonatos/formInscribir/{idCampeonato}(idCampeonato=${campeonato.id})}">Inscribirme</a></td>
					</tr>
				</tbody>
			</table>
			<br>
		</div>
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
