<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>padelGest</title>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href="../../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="../../static/header.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div th:replace="barranav :: header"></div>
	<div class="jumbotron"
		<h4>Detalles de Campeonato</h4>
	</div>

	<div class="container">
		<br>
		<h4>Partidos de la liga</h4>
		<br>
		<table class="table">
			<thead>
				<tr>
					<th>Pareja 1</th>
					<th>Pareja 2</th>
					<th>Resultado</th>
					<th>Fecha</th>
					<th>Hora</th>
					<th>Pista</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="enfrentamiento : ${rondaActual}">
					<td th:text="${enfrentamiento.pareja1.nombre}"></td>
					<td th:text="${enfrentamiento.pareja2.nombre}"></td>
					<td th:text="${enfrentamiento.resultado}"></td>
					<td
						th:text="${enfrentamiento.reserva} ? ${enfrentamiento.reserva.fecha} : ''"></td>
					<td
						th:text="${enfrentamiento.reserva} ? ${enfrentamiento.reserva.hora} : ''"></td>
					<td
						th:text="${enfrentamiento.reserva.pista} ? ${enfrentamiento.reserva.pista.numero} : ''"></td>
					<td><a
						th:href="@{/enfrentamientos/save/{id}(id=${enfrentamiento.id})}">Editar</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="container">
		<br>
		<h4>Clasificación</h4>
		<br>
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Miembro 1</th>
					<th>Miembro 2</th>
					<th>Puntos</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${parejas}">
					<td th:text="${p.id.pareja.nombre}"></td>
					<td th:text="${p.id.pareja.miembro1.nombre}"></td>
					<td th:text="${p.id.pareja.miembro2.nombre}"></td>
					<td th:text="${p.puntos}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>