<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>padelGest</title>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href="../../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/header.css}">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div th:replace="barranav :: header"></div>
	<div class="myheader">
		<div style="padding-left: 10px;">
			<br>
			<h4>Detalles de campeonato</h4>
		</div>
	</div>
	<div class="container">
		<div>
			<span><a
				th:href="@{/campeonatos/consultar/{id}(id=${campeonato.id})}"
				class="btn btn-info">Enfrentamientos</a></span> <span
				th:if="${!campeonato.abierto}"><a
				th:href="@{/campeonatos/consultar/{id}/clasificacion(id=${campeonato.id})}"
				class="btn btn-info">Clasificación</a></span>
		</div>
		<br>
		<h4 th:if="${!campeonato.abierto}">Partidos del playoff</h4>
		<br>

		<div th:if="${!campeonato.abierto}" th:each="grupo : ${map}"
			class="container">
			<h5 th:text="'Enfrentamientos del Grupo ' + ${grupo.key}"></h5>
			<table class="table">
				<thead>
					<tr>
						<th>Pareja 1</th>
						<th>Pareja 2</th>
						<th>Resultado</th>
						<th>Fecha</th>
						<th>Hora</th>
						<th>Pista</th>
						<th></th>
						<th th:if="${sesion.administrador}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="enfrentamiento : ${grupo.value}">
						<td th:text="${enfrentamiento.pareja1.nombre}"></td>
						<td th:text="${enfrentamiento.pareja2.nombre}"></td>
						<td th:text="${enfrentamiento.resultado}"></td>
						<td
							th:text="${enfrentamiento.reserva} ? ${enfrentamiento.reserva.fecha} : ''"></td>
						<td
							th:text="${enfrentamiento.reserva} ? ${enfrentamiento.reserva.hora} : ''"></td>
						<td
							th:text="${enfrentamiento.reserva.pista} ? ${enfrentamiento.reserva.pista.numero} : ''"></td>
						<td><a
							th:if="${enfrentamiento.reserva.fecha==null} AND (${enfrentamiento.pareja1.miembro1.id} == ${idUsuarioLogueado} OR 
						${enfrentamiento.pareja2.miembro1.id} == ${idUsuarioLogueado})"
							th:href="@{/enfrentamientos/save/{id}(id=${enfrentamiento.id})}">Proponer
								fecha</a></td>
						<td th:if="${sesion.administrador}"><a
							th:href="@{/enfrentamientos/resultado/{id}(id=${enfrentamiento.id})}">Añadir
								resultado</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>