<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>padelGest</title>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href="../../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="../../static/header.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
	<div th:replace="barranav :: header"></div>
	<div class="jumbotron">
		<h4>Introducir resultados</h4>
	</div>
	<section class="container">
		<form th:action="@{/enfrentamientos/resultado}" class="form-group"
			th:object="${enfrentamiento}" method="post">
			<br>
			<h5 th:text="*{pareja1.nombre} + ' VS ' + *{pareja2.nombre}"></h5>
			<br> <input type="hidden" th:field="*{id}"> <input
				type="hidden" th:field="*{campeonato}"> <input type="hidden"
				th:field="*{pareja1}"> <input type="hidden"
				th:field="*{pareja2}"> <input type="hidden"
				th:field="*{reserva}">
			<!-- 			<input type="hidden" th:field="*{ganador}"> -->

			<div class="form-group row">
				<label class="col-4 col-form-label" for="resultado">Resultado</label>
				<input class="col-3 form-control" id="resultado" type="text"
					th:field="*{resultado}">
			</div>
			<div class="form-group row">
				<label class="col-4 col-form-label" for="customRadio">Ganador</label>
				<label class="col-2 col-form-label" for="customRadio1"> <input
					type="radio" id="customRadio1" name="ganoPrimero" th:value="true"
					th:text="*{pareja1.nombre}"></label><br> <label
					class="col-2 col-form-label" for="customRadio2"> <input
					type="radio" id="customRadio2" name="ganoPrimero" th:value="false"
					th:text="*{pareja2.nombre}"></label>
			</div>
			<br>
			<button class="btn btn-info" type="submit">Guardar resultado</button>
		</form>
	</section>

	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>