<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>padelGest</title>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="../static/header.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{/}">PadelGest</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" th:href="@{/}">INICIO<span
						class="sr-only">(current)</span></a> <a class="nav-item nav-link"
						th:href="@{/reservas/}">RESERVAS</a> <a class="nav-item nav-link"
						th:href="@{/campeonatos/}">CAMPEONATOS</a>
					<div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" th:href="@{/partidos/}"
							id="navbardrop" data-toggle="dropdown">PARTIDOS</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/partidos/}">PARTIDOS</a> <a
								class="dropdown-item" th:href="@{/partidos/promocionados/}">PROMOCIONADOS</a>
							<a class="dropdown-item" th:href="@{/partidos/ofertados/}">OFERTADOS</a>
						</div>
					</div>

					<a th:if="${sesion.administrador}" class="nav-item nav-link"
						th:href="@{/usuarios/}">USUARIOS</a> <a
						th:if="${sesion.administrador}" class="nav-item nav-link"
						th:href="@{/pistas/}">PISTAS</a><a class="nav-item nav-link"
						th:href="@{/usuarios/profile/0}">MI CUENTA </a>

				</div>
			</div>
			<div>
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Cerrar sesión" />
				</form>
			</div>
		</nav>
	</div>
</body>
</html>