<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>padelGest</title>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" href="../static/header.css"
	th:href="@{/header.css}">
</head>
<body>
	<div class="jumbotron">
		<h4>Login</h4>
	</div>
	<section class="container">
		<div class="row">
			<div class="col-6">
				<form th:action="@{/login}" method="post">
					<div class="form-group row">
						<label for="dni" class="col-3 col-form-label">DNI:</label> <input
							name="dni" class="form-control col-5" id="dni" type="text"
							required pattern="[0-9]{8}[A-Z]">
					</div>
					<div class="form-group row">
						<label for="pwd" class="col-3 col-form-label">Contraseña:</label>
						<input type="password" class="form-control col-5" id="pwd"
							name="password">
					</div>
					<button class="btn btn-info" type="submit">Acceder</button>
				</form>

				<br>
			</div>
			<div class="container">
				<form>
					<button class="btn btn-warning" type="submit">Soy nuevo</button>
				</form>
			</div>
		</div>
	</section>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>