<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>padelGest</title>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href="../../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/header.css}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="barranav :: header"></div>
	<div class="myheader">
		<div style="padding-left:10px;">
		<p><h6> </h6><h4>Notificación de partido</h4></p>
	</div>
	</div>
	<br>
	<div class="container">
		<p>Oponente
		<p>
	</div>
	<div class="container">
		<p>Fecha y hora</p>
	</div>

	<div class="container">
		<a class="btn btn-success" href="#">Aceptar</a> <a
			class="btn btn-danger" href="#">Rechazar</a>
	</div>


	<class class="container"></class>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
