<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>padelGest</title>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href="../../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="../../static/header.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<body>
	<div th:replace="barranav :: header"></div>

	<div class="jumbotron">
		<h4>Mi cuenta</h4>
	</div>

	<div class="container">
		<h4>Mis notificaciones</h4>
		<table class="table">
			<tbody>
				<tr>
					<td>Partido contra Pepe-Pepe</td>
					<td><button class="btn btn-info" type="submit">Responder
							notifiación</button></td>
				</tr>
				<tr>
					<td>Partido contra Jose-Jose</td>
					<td><button class="btn btn-info" type="submit">Responder
							notifiación</button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<section class="container">
		<div class="container">
			<h4>Mis datos</h4>
		</div>
		<div class="container">
			<div th:object="${usuario}">
				<h6 th:text="'Nombre: ' + *{nombre} + ' ' + *{apellidos}"></h6>
				<h6 th:text="'DNI: ' + *{dni}"></h6>
				<h6 th:text="'Fecha de nacimiento: ' + *{fechaNacimiento}"></h6>
				<h6 th:text="'Telefono: ' + *{telefono}"></h6>
			</div>
		</div>
	</section>

	<section class="container">
		<div class="container">
			<br>
			<h4>Mis partidos</h4>
		</div>
		<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th>Pista</th>
						<th>Día</th>
						<th>Hora</th>
						<th>Tipo</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="partido : ${partidos}">
						<td
							th:text="${partido.reserva.pista} ? ${partido.reserva.pista.numero} : '' "></td>
						<td th:text="${partido.reserva.fecha}"></td>
						<td th:text="${partido.reserva.hora}"></td>
						<td th:text="${partido.tipo}"></td>
						<td><a th:href="@{/partidos/delete/{id}(id=${partido.id})}">Borrar
								partido</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>

	<section th:unless="${sesion.administrador}" class="container">
		<div class="container">
			<br>
			<h4>Mis reservas</h4>
		</div>
		<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th>Pista</th>
						<th>Día</th>
						<th>Hora</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="reserva : ${reservas}">
						<td th:text="${reserva.pista} ? ${reserva.pista.numero} : ''"></td>
						<td th:text="${reserva.fecha}"></td>
						<td th:text="${reserva.hora}"></td>
						<td><a th:href="@{/reservas/delete/{id}(id=${reserva.id})}">Borrar
								reserva</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<br>

	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
