<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>padelGest</title>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href="../../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/../../static/header.css}">
<link rel="stylesheet" href="../../static/header.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div th:replace="barranav :: header"></div>
	<div class="jumbotron">
		<h4>Usuarios</h4>
	</div>
	<div class="container">
		<br>
		<div>
			<a th:href="@{/usuarios/save/0}" class="btn btn-primary">Crear
				usuario</a>
		</div>
		<br>
		<h2 th:if="${list.isEmpty()}">No hay usuarios</h2>
		<div th:if="${!list.isEmpty()}">
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellidos</th>
						<th>DNI</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${list}">
						<td th:text="${usuario.nombre}">
						<td th:text="${usuario.apellidos}">
						<td th:text="${usuario.dni}">
						<td><a th:href="@{/usuarios/profile/{id}(id=${usuario.id})}">Consultar</a></td>
						<td><a th:href="@{/usuarios/save/{id}(id=${usuario.id})}">Editar</a></td>
						<td><a th:href="@{/usuarios/delete/{id}(id=${usuario.id})}">Eliminar</a></td>
				</tbody>
			</table>
		</div>
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>