<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>padelGest</title>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href="../../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="../../static/header.css">
</head>
<body>
	<div th:replace="barranav :: header"></div>
	<div class="jumbotron">
		<h4>Reservar pista</h4>
	</div>
	<div class="container">
		<h2 th:if="${list.isEmpty()}">No hay reservas en este momento</h2>
		<div th:if="${!list.isEmpty()}">
			<table class="table">
				<thead>
					<tr>
						<th>Pista</th>
						<th>Fecha</th>
						<th>Hora</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="reserva : ${list}">
						<td th:text="${reserva.pista}"></td>
						<td th:text="${reserva.fecha}"></td>
						<td th:text="${reserva.hora}"></td>
						<td><a class="btn btn-info" href="#">Inscribirme</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<a th:href="@{/reservas/save/0}" class="btn btn-primary">Registrar
				reserva</a>
		</div>
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
