<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>padelGest</title>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href="../../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="../../static/header.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="barranav :: header"></div>

	<div class="jumbotron">
		<h4>Reservas</h4>
	</div>
	<div class="container">
		<form
			th:action="${partido} ? @{/partidos/buscar} : (${enfrentamiento} ? @{/enfrentamientos/buscar} : @{/reservas/buscar})"
			class="form-group" th:object="${reserva}" method="post">
			<input type="hidden" th:field="*{id}">
			<div class="form-group row">
				<label for="fecha" class="col-4 col-form-label">Selecciona
					un día </label> <input class="form-control col-3" id="fechareserva"
					type="date" th:field="*{fecha}">
			</div>
			<button type="submit" class="btn btn-info">Buscar</button>
		</form>
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
