<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>padelGest</title>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href="../../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="../../static/header.css">
</head>
<body>
	<div th:replace="barranav :: header"></div>
	<div class="jumbotron">
		<h4>Partidos</h4>
	</div>
	<div class="container">
		<h3 th:text="'Reservas para la fecha ' + ${fecha}"></h3>
		<span> <a th:href="@{/reservas/save/0}" class="btn btn-primary">Buscar
				en otra fecha</a>
		</span>

		<div th:each="e : ${map}">
			<h3 th:text="'Pista ' + ${e.key.id}"></h3>
			<div class="btn-group btn-group-lg">
				<div th:each="reservaDao : ${e.value}">
					<form
						th:action="${partido} ? @{/partidos/save} : @{/reservas/save}"
						class="form-group" th:object="${reservaDao}" method="post">
						<button type="submit"
							th:class="*{disponible} ? 'btn btn-success' : 'btn btn-danger'"
							th:text="${reservaDao.hora}"></button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<br>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
